<div class="app-body-container">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-title">{{title}}</h1>

    <span class="toolbar-fill-remaining-space"></span>

    <a routerLink="logout">Log out</a>
  </mat-toolbar>
</div>

<mat-sidenav-container class="app-body">
  <mat-sidenav #sideNav opened mode="side" fixedTopGap="56" fixedInViewport="1">
    <mat-nav-list>
      <a *ngFor="let menuLink of menuLinks" routerLink="{{ menuLink.route }}" mat-list-item>
        {{ menuLink.title }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
