<div class="component-container">
  <mat-card>
    <mat-card-title>Create an account</mat-card-title>

    <mat-card-content>
      <p *ngIf="registerError !== ''" class="alert alert-danger register-form-error">Error: {{ registerError }}</p>

      <form name="registerForm" #registerForm="ngForm" (ngSubmit)="register()">
        <mat-form-field class="full-width-input">
          <mat-label for="email">Email</mat-label>

          <input matInput type="text" id="email" name="email"
                 required email
                 [(ngModel)]="model.email" #email="ngModel"
          />

          <mat-error class="email-error">Invalid email</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label for="firstName">First name</mat-label>
          <input matInput type="text" id="firstName" name="firstName"
                 required
                 [(ngModel)]="model.firstName" #firstName="ngModel"
          />

          <mat-error class="firstName-error">First name is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label for="lastName">Last name</mat-label>
          <input matInput type="text" id="lastName" name="lastName"
                 required
                 [(ngModel)]="model.lastName" #lastName="ngModel"
          />
          <mat-error class="lastName-error">Last name is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label for="password">Password </mat-label>
          <input matInput type="password" id="password" name="password"
                 required minlength="8"
                 [(ngModel)]="model.password" #password="ngModel"
          />

          <mat-error class="password-error">Password must contain at least 8 characters.</mat-error>
        </mat-form-field>

        <mat-card-actions>
          <button mat-raised-button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid">
            Register
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
