<div class="container">
  <h3>Create an account</h3>

  <p *ngIf="registerError !== ''" class="alert alert-danger register-form-error">Error: {{ registerError }}</p>
  <form name="registerForm" #registerForm="ngForm" (ngSubmit)="register()">
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="text" class="form-control" id="email" name="email"
             required email
             [(ngModel)]="model.email" #email="ngModel"
      />

      <div *ngIf="email.invalid && (email.dirty || email.touched)"
           class="alert alert-error email-error">
        Invalid email
      </div>
    </div>

    <div class="form-group">
      <label for="firstName">First name: </label>
      <input type="text" class="form-control" id="firstName" name="firstName"
             required
             [(ngModel)]="model.firstName" #firstName="ngModel"
      />

      <div  *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)"
            class="alert alert-danger firstName-error">
        First name is mandatory.
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last name: </label>
      <input type="text" class="form-control" id="lastName" name="lastName"
             required
             [(ngModel)]="model.lastName" #lastName="ngModel"
      />
      <div  *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)"
            class="alert alert-danger lastName-error">
        Last name is mandatory.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password </label>
      <input type="password" class="form-control" id="password" name="password"
             required minlength="8"
             [(ngModel)]="model.password" #password="ngModel"
      />

      <div *ngIf="password.invalid && (password.touched || password.dirty)"
           class="alert alert-danger password-error">
        Password must contain at least 8 characters.
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid">
      Register
    </button>
  </form>
</div>
