<div class="container">
  <h3>Create an account</h3>

  <p *ngIf="registerError !== ''">Error: {{ registerError }}</p>
  <form name="registerForm" #registerForm="ngForm" (ngSubmit)="register()">
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="text" class="form-control" id="email" name="email"
             required
             [(ngModel)]="model.email"
      />
    </div>

    <div class="form-group">
      <label for="lastName">Last name: </label>
      <input type="text" class="form-control" id="lastName" name="lastName"
             required
             [(ngModel)]="model.lastName"
      />
    </div>

    <div class="form-group">
      <label for="firstName">First name: </label>
      <input type="text" class="form-control" id="firstName" name="firstName"
             required
             [(ngModel)]="model.firstName"
      />
    </div>

    <div class="form-group">
      <label for="password">Password </label>
      <input type="password" class="form-control" id="password" name="password"
             required
             [(ngModel)]="model.password"
      />
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid">
      Register
    </button>
  </form>
</div>
