<div class="component-container">
  <mat-card>

    <mat-card-title>Login to the App</mat-card-title>

    <mat-card-content>
      <p *ngIf="loginError !== ''" class="login-form-error">Error: {{ loginError }}</p>
      <form name="loginForm" #loginForm="ngForm" (ngSubmit)="login()">
        <mat-form-field class="full-width-input">
          <mat-label>Email</mat-label>
          <input matInput type="email" id="email" name="email"
                 required email
                 [(ngModel)]="model.email" #email="ngModel"
          />

          <mat-error class="email-error">
            Invalid email
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label for="password">Password</mat-label>
          <input matInput type="password" id="password" name="password"
                 required minlength="8"
                 [(ngModel)]="model.password" #password="ngModel"
          />

          <mat-error class="password-error">
            Password must contain at least 8 characters.
          </mat-error>
        </mat-form-field>

        <mat-card-actions>
          <button mat-raised-button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Log in</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
